<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">

    </head>

    <body>
        <div class="main">
            {{>header}}
            <img src="img/pic1.jpg" class="mypic">
        </div>
       
        {{>footer}}
    </body>
</html>